{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>아이디</th>
            <th>Inform1</th>
            <th>Inform2</th>
            <th>Inform3</th>
            <th>Inform4</th>
            <th>Inform5</th>
            <th>Inform6</th>
            <th>Inform7</th>
            <th>Inform8</th>
            <th>Inform9</th>
            <th>Inform10</th>
        </tr>
        </thead>

        <tbody>
        {% if student_list %}
            {% for student in student_list %}
                {% if request.user == student.student %}
                    <tr class="text-center">
                        <td>{{student.student}}</td>
                        <td>{{student.inform1}}</td>
                        <td>{{student.inform2}}</td>
                        <td>{{student.inform3}}</td>
                        <td>{{student.inform4}}</td>
                        <td>{{student.inform5}}</td>
                        <td>{{student.inform6}}</td>
                        <td>{{student.inform7}}</td>
                        <td>{{student.inform8}}</td>
                        <td>{{student.inform9}}</td>
                        <td>{{student.inform10}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}


